header {
    background-color: white;
    margin-bottom: 3em;
    padding: 25px;

    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.152);
}

header img {
    display: block;
    width: 80%;
    margin: auto;
}

header form {
    margin: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #020302;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    color: rgb(171, 210, 255);
}

/* Media Queries para Ipads */
@media screen and (max-width: 900px) {
    header img {
        display: block;
        width: 60%;
        margin: auto;
    }

}