@font-face {
    font-family: "JosefinSans";
    src: url(../../fonts/JosefinSans-VariableFont_wght.ttf) format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "JosefinSans";
}

body, main {
    background-color: #F8F8F8;
}

div.user img {
    display: block;
    width: 5em;
    
}

main div.user { 
    display: flex;
    padding: 20px;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
    background-color: white;
}

div.user div { 
    margin: auto; /* Remover isso para descentralizar essa div de acordo com a width */
    color: black;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

div form {
    text-align: center;
    margin-top: 10px;
}

input[type="button"] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#editar {
    background-color: green;
}

#deletar {
    background-color: rgb(213, 19, 19);
}

#editar:hover {
    background-color: rgb(7, 140, 7);
}

#deletar:hover {
    background-color: rgb(224, 18, 18);
}